/* Golden Colour Scheme */

/* backgrounds */

#header .holder-logo, 
.header_menu_res ul li.active a, 
.header_menu_res a.menu-toggle,
.btn,
.order-gateway input[type="submit"], 
.reports_submit, 
.comment-reply-link, 
.subscribe-form .btn-submit, 
#footer .bar {
	background-color:#F39C12;
}

.header_menu {
	background-color:#E67E22;
}

/* text and links */
a,
#header .panel ul.menu ul.sub-menu li a:hover, 
div.adv_taxonomies .catcol ul li.maincat > a{
	color:#F39C12;
}

/* borders */
#footer, #footer .panel .box, #footer .panel .sidebox {
	border-color:#F39C12;
}

/* paging and share coupon widget */
.content-box .paging .pages span.current, #sidebar .share-box {
	background:#F39C12;
	-moz-box-shadow: 0 2px 0 -1px #F7B045;
	-webkit-box-shadow: 0 2px 0 -1px #F7B045;
	-khtml-box-shadow 0 2px 0 -1px #F7B045;
	box-shadow: 0 2px 0 -1px #F7B045;
    border: 1px solid #F7B045;
}

/* reverse colours */
.header_menu_res .obtn {
	background-color:#D84136;
}

/* responsive */	
@media screen and (max-width: 800px) {

	.header_menu_res ul.menu li a {
		background-color:#F39C12;
	}
	
}
